/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright   : Adityawarman Dewa Putra

Project		  :	Company Profile
Dibuat	    :	05/07/2022
Instagram   : @741_dewa -- @all_dewa_works
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Navigation
2. Hero
3. Services
4. About Company
5. Portfolio
6. Client
7. Contact
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[0. Default]
*------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #79b3ff;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title {
  width:100%;
  text-align:center; 
  position: relative;
}

.title::after {
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #4491f7;
  z-index:0;
}

h2 {
  position:relative; 
  background: #FFF;
  display: inline-block;
  z-index: 1;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

section:before {
  height: 54px;
  content: "";
  display:block;
}


/*-------------------------------------------------------------------
[1. Navbar]
*------------------------------------------------------------------*/
.navbar {
  box-shadow: -1px -1px 14px 0px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: -1px -1px 14px 0px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: -1px -1px 14px 0px rgba(182, 182, 182, 0.75);
}



/*-------------------------------------------------------------------
[2. Hero]
*------------------------------------------------------------------*/
#hero {
  background: rgb(213,236,255);
  background: linear-gradient(90deg, rgba(213,236,255,1) 0%, rgba(255,255,255,1) 37%);
}

#hero h1 {
  font-size: 48px;
}

#hero .btn {
  border-radius: 0;
  background: #4491f7;
  transition: 0.3s ease-in-out all;
}

#hero .btn:hover {
  background: #006eff;
}

#hero span::before {
  background: rgb(213,236,255);
  background: radial-gradient(circle, rgba(213,236,255,1) 0%, rgba(255,255,255,1) 100%);
}



/*-------------------------------------------------------------------
[3. Services]
*------------------------------------------------------------------*/
#services .box {
  /* width: 170px; */
  height: 170px;
  background: #4491f7;
  font-size: 42px;
  color: #FFF;
  transition: 0.3s ease-in-out all;
}

#services .box:hover {
  background: #006eff;
}

#services h5 {
  letter-spacing: 2px;
}



/*-------------------------------------------------------------------
[4. About Company]
*------------------------------------------------------------------*/
#about-company .col-md-6 p {
  line-height: 2rem;
}

#about-company img {
  height: 525px;
}



/*-------------------------------------------------------------------
[5. Portfolio]
*------------------------------------------------------------------*/
#portfolio .card .over {
  overflow: hidden;
}

#portfolio .card img {
  height: 260px;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

#portfolio .card img:hover {
  transform: scale(1.1);
}




/*-------------------------------------------------------------------
[6. Client]
*------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[7. Contact]
*------------------------------------------------------------------*/
.s-icon {
  color: #FFF;
  background: #4491f7;
  transition: 0.3s ease-in-out all;
}

.s-icon:hover {
  background: #006eff;
}