/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2020 By: Dewa Programming

Project		:	Blog
Dibuat	    :	05/05/2020
Instagram   :   @dewaprogramming -- @741_dewa -- @dewasmkn1jakarta
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 1200px) and (max-width: 1450px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        padding: 20px 30px !important;
    }

    /*-------------------------------------------------------------------
    [2. Breadcrumb]
    *------------------------------------------------------------------*/
    #breadcrumb {
        font-size: 13px;    
    }

    /*-------------------------------------------------------------------
    [3. Page]
    *------------------------------------------------------------------*/
    .page {
        padding: 20px 100px !important;
    }
    
    .page img {
        width: 100%;
    } 

    .page .col-sm-6 {
        flex: none !important;
        max-width: 50% !important;
    }

    #tittle-detail { 
        text-align: center;
        font-size: 38px;
    }

    #total { 
        margin-top: 50px !important;
        font-size: 25px;
    }

    #price { 
        font-size: 30px;
    }

    /*-------------------------------------------------------------------
    [4. Footer]
    *------------------------------------------------------------------*/
    #footer #text { 
        font-size: 12px;
    }

}