/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2021 By: Dewa Programming

Project	    :	Decoraive Plant
Dibuat	    :	19/01/2021
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 576px) and (max-width: 900px) { 

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        padding: 20px 30px !important;
    }

    /*-------------------------------------------------------------------
    [2. Breadcrumb]
    *------------------------------------------------------------------*/
    #breadcrumb {
        font-size: 13px;    
    }

    /*-------------------------------------------------------------------
    [3. Page]
    *------------------------------------------------------------------*/
    .page {
        padding: 20px 100px !important;
    }

    .page img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .page .col-sm-6 {
        flex: none !important;
        max-width: 100% !important;
    }

    .page #description {
        width: 100%;
    }

    .page input { 
        width: 100%;
        height: 62px;
    }

    .page button { 
        width: 303px;
        height: 64px;
    }

    #tittle-detail { 
        text-align: center;
        font-size: 38px;
    }

    #total { 
        margin-top: 50px !important;
        font-size: 25px;
    }

    #price { 
        font-size: 30px;
    }

    /*-------------------------------------------------------------------
    [4. Footer]
    *------------------------------------------------------------------*/
    #footer #text { 
        font-size: 12px;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1145px) {
    .page {
        padding: 20px 30px !important;
    }
    
    .page img {
        width: 100%;
        height: 100%;
    } 

    .page .col-sm-6 {
        flex: none !important;
        max-width: 50% !important;
    }

    .page label {
        display: flex;
        margin-left: 50px !important;
        text-align: center !important;
    }

    .page input { 
        width: 300px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .page button { 
        width: 303px;
        height: 64px;
        margin-left: 50px !important;
    }

    #tittle-detail { 
        text-align: center;
        font-size: 30px;
    }

    #total { 
        margin-top: 50px !important;
        font-size: 22px;
        margin-left: 50px !important;
    }

    #price { 
        font-size: 25px;
        margin-left: 50px !important;
    }
}

@media only screen and (min-width: 1145px) and (max-width: 1200px) {
    .page {
        padding: 20px 100px !important;
    }
    
    .page img {
        width: 100%;
    } 

    .page .col-sm-6 {
        flex: none !important;
        max-width: 50% !important;
    }
}