/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2021 By: Dewa Programming

Project	    :	Decoraive Plant
Dibuat	    :	19/01/2021
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (max-width: 576px) { 

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        padding: 20px 30px !important;
    }

    /*-------------------------------------------------------------------
    [2. Breadcrumb]
    *------------------------------------------------------------------*/
    #breadcrumb {
        font-size: 13px;    
    }

    /*-------------------------------------------------------------------
    [3. Page]
    *------------------------------------------------------------------*/
    .page {
        padding: 20px 0px !important;
    }

    .page img {
        width: 300px;
        height: 100%;
    }

    .page .col-sm-6 {
        max-width: 100% !important;
    }

    .page #description {
        padding: 2.5rem 1rem !important;
    }

    #tittle-detail { 
        text-align: center;
        font-size: 28px !important;
        margin: 0 0 2rem 0 !important;
    }

    #total { 
        margin-top: 50px !important;
        font-size: 18px;
    }

    #buyer, #price { 
        font-size: 16px !important;
    }

    #description button {
        width: 100%;
        margin: 2rem auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*-------------------------------------------------------------------
    [4. Footer]
    *------------------------------------------------------------------*/
    #footer {
        padding: 0 1rem;
        height: 70px;
    }

    #footer #text {
        font-size: 10px !important;
    }
}