/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2021 By: Dewa Programming

Project	    :	Decoraive Plant
Dibuat	    :	19/01/2021
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 1024px) and (max-width: 1680px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
        padding: 20px 30px !important;
    }

    /*-------------------------------------------------------------------
    [2. Home]
    *------------------------------------------------------------------*/
    .home {
        background-position: right top;
    }

    .home .col-sm-12 {
        padding: 200px 30px !important;
    }   

    .home b {
        font-size: 58px;
    }
    
    .home h1 {
        font-size: 58px;
    }

    .home p {
        font-size: 22px;
        margin: 20px 0px !important;
    }

    .home button {  
        font-size: 21px;
        width: 180px;
        height: 70px;
    }

    /*-------------------------------------------------------------------
    [3. Service]
    *------------------------------------------------------------------*/
    .service {
        background: #F5F6F8;
        padding: 80px 30px !important;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .service .d-sm-flex {
        width: 100%;
    }

    /*-------------------------------------------------------------------
    [4. Catalog]
    *------------------------------------------------------------------*/
    .catalog {
        padding: 100px 30px !important;
    }

    .catalog a {
        width: 20% !important;
    }

    .catalog .card {
        width: 250px !important;
    }

    /*-------------------------------------------------------------------
    [5. Footer]
    *------------------------------------------------------------------*/
    #footer #text {
        font-size: 15px !important;
    }

}