/*------------------------------------------------------------------
[Adityawarman Dewa Putra] [SMKN 1 JAKARTA] 

Copyright 2021 By: Dewa Programming

Project	    :	Decoraive Plant
Dibuat	    :	19/01/2021
Instagram   :   @741_dewa -- @dev_dewa_id
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Home
3. Service
4. Catalog
5. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 576px) and (max-width: 860px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
        padding: 20px 30px !important;
    }

    nav img {  
        width: 55px !important;
    }

    /*-------------------------------------------------------------------
    [2. Home]
    *------------------------------------------------------------------*/
    .home {
        background: none !important;
        height: 100% !important;
    }

    .home .col-sm-12 {
        padding: 150px 30px !important;
    }   

    .home b {
        font-size: 56px;
    }
    
    .home h1 {
        font-size: 60px;
    }

    .home p {
        font-size: 24px;
        margin: 20px 0px !important;
    }

    .home button {  
        font-size: 20px;
        width: 180px;
        height: 60px;
        margin-top: 10px;
    }

    /*-------------------------------------------------------------------
    [3. Service]
    *------------------------------------------------------------------*/
    .service {
        background: #F5F6F8;
        padding: 80px 0px !important;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .service .col-md-12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service .d-sm-flex {
        width: 100%;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .service .col-lg-7, .service .col-lg-5 {
        width: 100% !important;
    }

    .service .col-lg-5 {
        margin-top: 30px;
        max-width: unset !important;
    }

    .service #text {
        font-size: 22px !important;
        width: unset !important;
        height: unset !important;
    }

    .service #text-cube {
        width: unset !important;
        height: unset !important;
    }

    /* left */
    .service #picture-square { 
        width: 0px !important;
        position: unset !important;;
    }

    .service #pict-cover { 
        margin: auto !important;
        width: 420px;
        height: 550px;
        position: unset;
    }

    .service #pict-border { 
        overflow: hidden;
        width: 420px;
        height: 550px;
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 25px;
    }

    .service #text-1 { 
        width: 300px;
        height: 100px;
        position: absolute;
        left: 128px;
        top: 29px;
    }

    .service #text-1-cube { 
        width: 300px;
    }

    /*-------------------------------------------------------------------
    [4. Catalog]
    *------------------------------------------------------------------*/
    .catalog {
        padding: 100px 30px !important;
    }

    .col-sm-12 {
        flex-wrap: wrap;
    }

    .catalog a {
        width: 40% !important;
    }

    .catalog .card {
        width: 100% !important;
    }

    .catalog #tittle {
        font-size: 15px !important;
        text-align: center !important;
    }

    .catalog #price {
        font-size: 13px !important;
        text-align: center !important;
    }

    /*-------------------------------------------------------------------
    [5. Footer]
    *------------------------------------------------------------------*/
    #footer #text {
        font-size: 12px !important;
    }

}